
configuration{
    modi: "run,drun,window,filebrowser";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "foot";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Bin ";
    display-window: " 󰕰  Window";
    display-filebrowser: "   Files";
    sidebar-mode: true;
}
